:root{
  --font-style:'DM Sans', sans-serif;
  --primary-color:#cae962;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-style);
}
*::selection{
 background-color: var(--primary-color);
 color: #202125;
}

button::selection{
  color: none;
  background-color: none;

}
body{
  width: 100%;
  height: 100vh;
  background-color:#202125;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}